.main-button {
	transition: transform 0.2s ease-in-out, background-color 0.4s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-button:hover {
	transform: scale(1.05);
	background-color: #f0ed20;
}

.main-button:active {
	transform: scale(0.96);
	transition: 0.14s;
}
